body{
    background-color: rgba(190, 231, 255, 0.84);
}

.logo{
    width: 40%;
}

.header{
    display: flex;
    justify-content: center;
    margin: 10px;
}

h3{
    font-family: 'Permanent Marker', cursive;
}

p, ul, button{
    font-family: 'Permanent Marker', cursive;
    font-weight: 10;
}

.poke-box{
    display: flex;
}

#poke-con{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 75vh;
    border: 10px solid rgba(0, 98, 255, 0.929);
    margin-bottom: 2vh;
    margin-left: 4vh;}


#poke-name{
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
}

.poke-stats{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 35%;
    margin-left: 4vh;
    }

h1{
        text-align: center;
    }

#get-poke-button{
    width: 60%;
    text-align: center;
    color: white;
    background-color: rgba(0, 98, 255, 0.929);
    border: none;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 2vh;
    cursor: pointer;

}

.button-area{
    display: flex;
    justify-content: center;
}

li{
    padding: 0;
}