#get-poke-button{
    margin-bottom: 2vh;
}

.poke-box{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

#poke-con{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 75vh;
    border: 10px solid rgba(0, 116,236, .9294117647058824);
    margin: 0 auto; 
    margin-bottom:2vh;
}

#poke-name{
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
}

.poke-stats{
    display: flex;
    flex-direction: column;
    }

h1{
        text-align: center;
    }
