#get-poke-button{
    margin-bottom: 2vh;
}

.poke-box{
    display: flex;
}

#poke-con{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 75vh;
    border: 10px solid rgba(0, 116,236, .9294117647058824);
    margin-bottom: 2vh;
    margin-left: 4vh;
}


#poke-name{
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
}

.poke-stats{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 4vh;
    }

h1{
        text-align: center;
    }

#get-poke-button{
    width: 60%;
    text-align: center;

}

.button-area{
    display: flex;
    justify-content: center;
}